/* Regras gerais */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --dark-color: #202020;
    --light-gray: #dedede;
    --light-color: #fff;
    --poppins-font: 'Poppins', sans-serif;
    --transition: all 0.3s ease-in-out;
    --box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.2)!important;
    --box-shadow2: 0 0 6px 2px rgba(255, 255, 255, 0.3)!important;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    transition: 0.5s;
    font-size: 10px;
}

body {
    width: 100%;
    font-size: 1.6rem;
    height: 100vh;
    font-family: var(--poppins-font);
}

header nav {
    background-color: white;
    padding: 8px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    position: fixed;
    top: 0;
    z-index: 1000;
}

header nav img {
    margin-left: 40px;
    max-width: 150px;
}

header nav ul {
    margin-right: 10px;
    list-style: none;
    display: flex;
}

header nav ul li {
    padding: 5px 10px;
}

header nav ul li a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    list-style: none;
    text-decoration: none;
    font-size: 16px;
    transition: all 250ms linear 0s;
    position: relative;
}

header nav ul li a:hover {
    font-size: 17px;
}

/* INICIO NAV2 HAMBURGUER */
.hamburguer {
    background-color: #fff;
    display: none;
}

.nav-button {
    border: 0;
    border-radius: 4px;
    padding: 8px;
    background-color: rgba(0, 100, 0, 0.7);
    margin: 8px;
    cursor: pointer;
    width: 42px;
}

.overlay {
    width: 0%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 9;
    position: fixed;
    left: 0;
    top: 0;
    overflow-x: hidden;
    transition: all 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.nav2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav2_logo {
    max-width: 140px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    color: #818181;
    display: block;
    font-size: 34px;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #008000;
}

.overlay .closebtn {
    position: fixed;
    top: 25px;
    right: 45px;
    font-size: 60px;
    display: none;
    transition: 0.5s;
}
/* FIM NAV2 HAMBURGUER */

/* ==== VIDEOS ==== */
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.portal-container {
    margin-top: 20px;
}

.accordion {
    width: 845px;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.accordion-item {
    background-color: #fff;
    transition: background-color 0.3s;
}

.accordion-header {
    text-align: center;
    background-color: #00ff88;
    color: #fff;
    padding: 15px;
    font-weight: bold;
    margin: 15px;
    cursor: pointer;
}

.accordion-header:hover {
    background-color: #555;
}

.accordion-content {
    padding: 15px;
    display: none;
    transition: 0.3s ease-in-out;
    max-height: 0;
    overflow: hidden;
}

.accordion-item.active .accordion-content {
    text-align: center;
    display: block;
    max-height: 100%;
}

.accordion-item.active .accordion-content iframe {
    width: 390px;
    height: 210px;
}

/* ------------- */

a {
    list-style: none;
    text-decoration: none;
    color: #202020;
}

.portal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.portal-container h1 {
    font-size: 2.5rem;
    color: #008000;
    font-weight: 800;
    text-shadow: 3px 2px 0.1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.option-btn {
    background-color: #00ff88;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.option-btn:hover {
    background-color: #00cc70;
}

/*====== FOOTER ======*/
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 40px 0;
    font-family: var(--poppins-font);
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-section {
    flex: 1;
    margin: 20px;
    min-width: 250px;
}

.footer-section h3 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    text-transform: uppercase;
    color: #00ff88;
}

.footer-section p {
    font-size: 1.4rem;
    line-height: 1.8;
    margin: 5px 0;
}

.footer-section a {
    color: #00ff88;
    text-decoration: underline;
    font-weight: bold;
    transition: color 0.3s ease;
}

.footer-section a:hover {
    color: #fff;
}

.footer-section .mapa {
    width: 100%;
    height: 200px;
    border: 0;
    border-radius: 10px;
}

.footer-section i {
    margin-right: 10px;
}

@media screen and (max-width: 850px){
    section{
        height: 80vh;
    }

    .accordion {
        width: 750px;
    }

    .accordion-item.active .accordion-content iframe {
        width: 330px;
        height: 180px;
    }
}

@media screen and (max-width: 768px) {
    .hamburguer {
        display: block;
    }

    .navbar {
        display: none;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .contato {
        margin: 0;
    }

    footer iframe {
        margin: 10px auto;
        width: 90%;
        height: 250px;
    }

    .nav-button {
        width: 48px;
        height: 48px;
        padding: 8px;
        background-color: rgba(0, 100, 0, 0.7);
    }

    .nav-button img {
        width: 100%;
        height: auto;
    }

    .nav2_logo {
        width: 95px;
    }

    section{
       height: 80vh;
    }

    .portal-container h1 {
        font-size: 2rem;
    }

    .accordion {
        width: 320px;
    }

    .accordion-item.active .accordion-content iframe {
        width: 100%;
        height: 150px;
    }
}

@media screen and (max-width: 380px){
    section{
        height: 115vh;
    }
}